.pacman {
  width: 5vw;
  height: 5vw;
  overflow: hidden;
  animation: pacman-animation 0.5s infinite;
}

.container {
  position: relative;
  overflow: hidden;
  font-size: 2vw;
  padding: 1vw;
  white-space: pre-wrap;
  /* Adjust alignment if needed */
  align-items: flex-start; /* or remove flex display if not needed */
}

.mouth {
  width: 5vw;
  height: 5vw;
  background: black;
  border-radius: 50%;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

.eye {
  width: 1vw;
  height: 1vw;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 1vw; /* Adjust to correctly position the eye */
  left: 1vw;
}

.pacmanbody {
  width: 5vw;
  height: 5vw;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  top: 0; /* Ensure top alignment */
  left: 0;
}

.text {
  font-size: 2vw;
  color: burlywood;
}

@keyframes pacman-animation {
  0% {
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%);
  }
  100% {
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  }
}

@keyframes pacman-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
